{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start"> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{product.provider}}</p> 
        <p class="card-text">{{product.category}}</p>
        <p class="card-text">{{product.keyword}}</p>  
        <p class="card-text">{{product.price}}</p> 
        <p class="card-text">{{product.stock}}</p>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">
          {% if movie.url %}
            <a href="{{ product.url }}" class="btn btn-primary">
              Product Link
            </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url 'createReview' product.id %}" 
            class="btn btn-primary">
            Add Review
          </a>
          {% endif %}
        </p>
        <hr />
        <h3>Reviews</h3>
        <ul class="list-group">
        {% for review in reviews %}  
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.text }}</p>
            {% if user.is_authenticated and user == review.user %} 
            <a class="btn btn-primary me-2" 
              href="{% url 'updateReview' review.id %}">
              Update
            </a>
            <a class="btn btn-danger"
              href="{% url 'deleteReview' review.id %}">
              Delete
            </a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}