{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <div class="justify-content-center">
            <h1 class="text-center subtitle">{{subtitle}}</h1>
          </div> 
          <div class="justify-content-end">
            <a class="btn brown-button" href="{% url 'newTechnique'%}">Crear</a> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-container text-center my-4">
    <form action="" method="get" class="d-flex justify-content-center">
      <div class="input-group">
        <input type="text" name="searchProduct" class="form-control" placeholder="Search for Technique..." value="{{ request.GET.searchProduct }}">
        <button type="submit" class="btn brown-button">Search</button>
      </div>
    </form>
  </div>

  <div class="techniques-container">
    {% for technique_response in techniques %}
    <div class="card">
      {% if technique_response.image %}
        <img src="{{ technique_response.image }}" class="card-img-top img-card">
      {% else %}
        <img src="https://i.pinimg.com/564x/13/61/6d/13616d072ddca840b412866908b41854.jpg" class="card-img-top img-card">
      {% endif %}
      <div class="card-body text-center">
        <a href="{% url 'showTechnique' id=technique_response.technique.id %}"
          class="btn bg-primary text-white">{{technique_response.technique.title}}
        </a>
      </div>
      <a href="{% url 'deleteTechnique' id=technique_response.technique.id %}"
          class="btn btn-danger">Eliminar</button>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
