{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}

{% load i18n %} 

{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i.pinimg.com/564x/13/61/6d/13616d072ddca840b412866908b41854.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">
           {{technique.title}}
        </h2>
        <div class="flex">
          <p style="display: inline; margin-right: 20px;">
            <strong>{% trans "Author: " %} </strong>{{technique.author}}
          </p>
          <p style="display: inline;">
            <strong>{% trans "Category: " %} </strong>{{technique.category}}
          </p>
        </div>
        <p>
          <strong>{% trans "Description: " %}</strong>{{technique.description}}
        </p>
        <p>
          <strong>{% trans "Products that you need: " %} </strong>{{technique.product_list}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <form action="{% url 'deleteTechnique' technique.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this technique?')">{% trans "Delete" %}</button>
  </form>
</div>

{% endblock %}
