{% extends 'pages/base.html' %} 

{% block title %} {{title}} {% endblock %} 

 
{% load i18n %} 

{% block content %} 

<div class="container"> 

  <div class="row justify-content-center"> 

    <div class="col-md-8"> 

      <div class="card"> 

        <div class="card-header">{% trans "Create product" %}</div> 

          <div class="card-body"> 

            {% if form.errors %} 

                <ul id="errors" class="alert alert-danger list-unstyled"> 

                {% for field, errors in form.errors.items %} 

                    {% for error in errors %} 

                        <li>{{ error }}</li> 

                    {% endfor %} 

                {% endfor %} 

                </ul> 

            {% endif %} 

 

            <form method="POST" action="{% url 'form' %}"> 

              {% csrf_token %} 

              <input type="text" class="form-control mb-2" placeholder="Enter tittle" name="tittle" value="{{form.data.tittle }}" /> 

              <input type="text" class="form-control mb-2" placeholder="Enter provider" name="provider" value="{{form.data.provider }}" />

              <input type="text" class="form-control mb-2" placeholder="Enter category" name="category" value="{{form.data.category }}" /> 

              <input type="text" class="form-control mb-2" placeholder="Enter keyword" name="keyword" value="{{form.data.keyword }}" /> 

              <input type="number" class="form-control mb-2" placeholder="Enter price" name="price" value="{{form.data.price }}" /> 

              <input type="number" class="form-control mb-2" placeholder="Enter stock" name="stock" value="{{form.data.stock }}" /> 

              <input type="text" class="form-control mb-2" placeholder="Enter description" name="description" value="{{form.data.description }}" /> 



 

              <input type="submit" class="btn btn-primary" value="Send" /> 

            </form> 

          </div> 

        </div> 

      </div> 

    </div> 

  </div> 

</div> 

{% endblock %} 