{% extends 'pages/base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      {% if product.image %}
        <img src="{{ product.image }}" class="img-fluid rounded-start">
      {% else %}
        <img src="https://i.pinimg.com/564x/13/61/6d/13616d072ddca840b412866908b41854.jpg" class="img-fluid rounded-start">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">
           {{product.detail.title}}
        </h2>
        <div class="flex">
          <p style="display: inline; margin-right: 20px;">
            <strong>Provider: </strong>{{product.detail.provider}}
          </p>
          <p style="display: inline;">
            <strong>stock: </strong>{{product.detail.stock}}
          </p>
        </div>
        <p>
          <strong>Description: </strong>{{product.detail.description}}
        </p>
        <p class="card-text">
          {% if movie.url %}
            <a href="{{ product.detail.url }}" class="btn btn-primary">
              Product Link
            </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url 'createReview' product.detail.id %}" 
            class="btn btn-primary">
            Add Review
          </a>
          {% endif %}
        </p>
        <br />
        <h3>Reviews</h3>
        <ul class="list-group">
        {% for review in reviews %}  
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.text }}</p>
            {% if user.is_authenticated and user == review.user %} 
            <a class="btn btn-primary me-2" 
              href="{% url 'updateReview' review.id %}">
              Update
            </a>
            <a class="btn btn-danger"
              href="{% url 'deleteReview' review.id %}">
              Delete
            </a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <form action="{% url 'delete' product.detail.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete</button>
  </form>
</div>
{% endblock content %}