{% extends 'pages/base.html' %} 
{% block title %} {{title}} {% endblock %} 
{% block header_title %} {{subtitle}} {% endblock %} 

{% block content %}
<div class="techniques-container">
  {% for product in products %}
  <div class="card">
    <img src="https://i.pinimg.com/564x/13/61/6d/13616d072ddca840b412866908b41854.jpg" class="card-img-top img-card">
    <div class="card-body text-center">
      <a href="{% url 'detail' id=product.id %}"
        class="btn bg-primary text-white">{{product.tittle}}
      </a>
    </div>
    <a href="{% url 'delete' id=product.id %}"
        class="btn btn-danger">Eliminar</button>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
