{% extends 'pages/base.html' %} 

{% block title %} {{title}} {% endblock %} 

{% block header_title %} {{subtitle}} {% endblock %} 

 

{% block content %} 

<div class="card mb-3"> 

  <div class="row g-0"> 

    <div class="col-md-4"> 

      <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start"> 

    </div> 

    <div class="col-md-8"> 

      <div class="card-body"> 

        <h5 class="card-title"> 

           {{product.tittle}} 

        </h5> 

        <p class="card-text">{{product.provider}}</p> 
        <p class="card-text">{{product.category}}</p>
        <p class="card-text">{{product.keyword}}</p>  
        <p class="card-text">{{product.price}}</p> 
        <p class="card-text">{{product.stock}}</p>
        <p class="card-text">{{product.description}}</p>

  
      </div> 

    </div> 

  </div> 

</div> 

{% endblock %} 
