{% load static %} 

<!doctype html> 

<html lang="en"> 

<head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" /> 
  <link href="{% static 'pages/app.css' %}" rel="stylesheet" /> 
  <title>{% block title %}'Online Store'{% endblock %}</title> 
</head> 

<body>
  <!-- header --> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary  py-4">
    <div class="container">
      <a class="navbar-brand brown-color " href="{% url 'home' %}">Tienda de Café - El Barista</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto brown-color">
          <a class="nav-link active brown-button" href="{% url 'home'%}">Home</a> 
          
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logoutaccount' %}">Logout ({{user.username}})</a>
          {% else %}
            <a class="nav-link" href="{% url 'loginaccount' %}">Login</a>
            <a class="nav-link" href="{% url 'signupaccount' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <!-- header --> 
  <div class="frame">
    <a class="nav-link button custom-btn btn-16" href="{% url 'index'%}">Products</a>
    <a class="nav-link button custom-btn btn-16" href="{% url 'techniques'%}">Techniques</a>
  </div>
  <!-- header --> 
 
  <div class="content-container">
    {% block content %}
    {% endblock %}
  </div>

  <!-- footer --> 
  {% block footer %}
    <div class="footer mt-auto">
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small class="brown-color">
            Copyright - <a class="text-reset fw-bold text-decoration-none" target="_blank"
              href="#">
              Barista Boutique
            </a>
          </small>
        </div>
      </div>
    </div>
  {% endblock %}
  <!-- footer --> 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" /> 
</body> 

</html> 